/* You can customize theme styles here */
.header .navbar-brand span {
  color:#000 !important;
  /* -webkit-text-stroke: 0.5px black; */
 }

 .header .navbar-brand span:nth-child(2) {
  font-family: inherit;
  font-size: inherit;
  align-self: flex-end;
  margin-top: -20px;
 }

/* text_shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000 */
