{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
  <div class="container">
    <div class="contact">
      <h2>{{ .Site.Data.homepage.contact.title }}</h2>
      <div class="row pt-2">
        <div class="col-12 col-lg-7">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js?pre=1"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "4916438",
              formId: "92561019-0ac0-4b7a-b687-bb036ec31a05"
            });
          </script>
        </div>
        <div class="col-12 col-lg-5 contact__info">
          <h4>{{ .Site.Data.homepage.contact.phone.title }}</h4>
          <span>{{ .Site.Data.homepage.contact.phone.number }}</span>
          <h4>{{ .Site.Data.homepage.contact.email.title }}</h4>
          <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
          <h4>{{ .Site.Data.homepage.contact.address.title }}</h4>
          <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
