<section id="features" class="section section--border-bottom">
  <div class="container">
    <h2 class=" rad-animation-group rad-fade-down">
      Features
    </h2>

{{ range $index, $element := .Site.Data.homepage.features }}
<div
  class="row row--padded rad-animation-group rad-fade-down {{ if .is_even }}flex-column-reverse flex-md-row{{ end }}"
>
  {{ if .is_even }}
  <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
    <h3>{{ .title }}</h3>
    <p class="lead">
      {{ .description | safeHTML }}
    </p>
    {{ if .button.enable }}
      <a href="{{ .button.URL | absURL }}" class="btn btn-primary"
        >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
      ></a>
    {{ end }}
  </div>
  <div class="col-12 col-md-7 pl-md-0 text-right">
    <img
      class='lozad img-responsive {{ cond (eq ( mod $index 4) 0) "img-clip-left-backward" "img-clip-left-forward" }}'
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .image.x | absURL }}"
      data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
      alt="{{ .title }}"
    />
  </div>
  {{ else }}
  <div class="col-12 col-md-7 pl-md-0 text-right">
    <img
      class='lozad img-responsive {{ cond (eq ( mod $index 4) 1)  "img-clip-right-backward" "img-clip-right-forward" }}'
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .image.x | absURL }}"
      data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
      alt="{{ .title }}"
    />
  </div>
  <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
    <h3>{{ .title }}</h3>
    <p class="lead">
      {{ .description | safeHTML }}
    </p>
    {{ if .button.enable }}
      <a href="{{ .button.URL | absURL }}" class="btn btn-primary"
        >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
      ></a>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
</div>
</section>
